@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");


body {
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Mainbox{
    background-color: #0f0e13;
    /* background-image: */
        /* radial-gradient(at 0% 0%, hsl(267, 13%, 14%) 0, transparent 50%), */
        /* radial-gradient(at 0% 0%, hsl(266, 34%, 52%) 0, transparent 50%), */
        /* radial-gradient(at 0% 0%, rgb(20, 130, 121) 0, transparent 60%); */
}
/* .text-gradient {
    background-color: #fff;
    background-image: radial-gradient(at 70% 46%, rgb(156, 150, 150) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

@media(max-width:976px){
    html{
        font-size: 70%;
    }
}
.ant-select {
    background-color: rgba(0, 0, 0, 0.2) !important;
    /* 50% opacity background */
    color: #ffffff !important;
}

.ant-select-selector {
    background-color: rgba(95, 88, 88, 0.5) !important;
    /* 50% opacity for the selector box background */
    color: #ffffff !important;
}

.ant-select-dropdown {
    background-color: rgba(46, 45, 49, 1) !important;
    /* 50% opacity dropdown background */
}

.ant-select-item-option-content {
    color: #ffffff !important;
    display: flex !important;
    align-items: center !important;
    gap: 1rem !important;
    /* 50% opacity for the dropdown item text */
}


/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #817d7d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}